#report-heading {
    font-family: Cabin;
    color: #95a472;
    text-align: center
 }
 #calorie-header {
     font-family: Cabin;
     color: #82846d;
 }
 #macro-header {
     font-family: Cabin;
     color:#82846d;
 }