Form {
   margin-top: 1.5em;
width: 50vw
}
#report-btn.btn.btn-light {
   margin: 1em;
}
#user-account {
margin-left: 20em
}
#user-dashboard-header{
   margin-top: 1em;
   font-family: Cabin;
   color: #82846d;
}
#select-label{
   margin-right: 1em;
}