#resource-header{
    font-family: Cabin;
    color: #82846d;
    text-align: center;
    margin: 1em
}
.documentaries-content{
    margin-left: 5em;
    margin-top: 3em;
}
.resource-content{
    margin-left: 45em;
    margin-top: 3em;
}
