#resource-header{
    font-family: Cabin;
    color: #82846d;
    text-align: center;
    margin: 1em
}
.documentaries{
    margin-left: 5em;
    margin-top: 3em;
}
.resource{
    margin-left: 5em;
    margin-top: 3em;
}